*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-White: hsl(0, 0%, 100%);
    --clr-LightGrey: hsl(217, 12%, 63%);
    --clr-MediumGrey: hsl(216, 12%, 54%);
    --clr-DarkBlue: hsl(213, 19%, 18%);
    --clr-VeryDarkBlue: hsl(216, 12%, 8%);
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-VeryDarkBlue);
    display: grid;
    place-items: center;
}

h1{
    color: var(--clr-White);
}